<div class="cs-product">
  <h4 class="cs-label">{{ section.settings.cross_sell_label }}</h4>
  {% assign csProduct = all_products[section.settings.product] %}
  <div class="cs-product-wrapper">
    <div class="product-image">
      <img src="{{ csProduct.featured_image | img_url:"100x" }}">
    </div>
    <div class="product-description">
      <h5 class="cs-product-title">
        <a href="{{ csProduct.url }}">{{ csProduct.title }}</a>
      </h5>
      <div class="cs-product-description" style="display:none;">
        {{ csProduct.description }}
      </div>
      <a class="view-more" href="javascript:void(0);">View product details</a>
    </div>
    <div class="cs-product-form">
      <div class="cs-product-price">
        <span class="money">{{ csProduct.price | money }}</span>
      </div>
      
      <div class="cs-add-to-cart product_form">
        {% form 'product', csProduct, data-productid: {{csProduct.id}} %}
        {% if csProduct.options.size > 1 %}
        <div class="select" style="display:none;">
          <select id="product-select-{{ csProduct.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select" data-productid="{{csProduct.id}}">
            {% for v in csProduct.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {% endfor %}
          </select>
        </div>
        {% elsif csProduct.options.size == 1 and csProduct.variants.size > 1 or csProduct.options.size == 1 and csProduct.options[0] != "Title" %}
        <div class="select" style="display:none;">
          <label>{{ csProduct.options[0] }}</label>
          <select id="product-select-{{ csProduct.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" data-productid="{{csProduct.id}}">
            {% for v in csProduct.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
            {% endfor %}
          </select>
        </div>
        {% else %}
        <input type="hidden" name="id" value="{{ csProduct.selected_or_first_available_variant.id }}" />
        {% endif %}
        <input type="hidden" class="quantity" name="quantity" id="quantity" value="1" />

        <div class="purchase-details">
          <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
            {% if csProduct.type != "Custom" %}
            <button type="submit" name="add" class="action_button add_to_cart">
              <span class="text">add to cart</span>
              <label class="added_to_cart">Added</label>
            </button>
            {% endif %}

          </div>
        </div>
        {% endform %}
      </div>
    </div>
    <div class="mobile-product-description">
      <div class="cs-product-description" style="display:none;">
        {{ csProduct.description }}
      </div>
      <a class="view-more" href="javascript:void(0);">View product details</a>
    </div>
  </div>
</div>