{% if type == 'block' %}
  {% assign collapse_type = block.settings.collapse_type %}
  {% assign font_color = block.settings.font_color%}
  {% assign wide_content = block.settings.wide_content %}
  {% assign id = block.id %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign display_trustpilot = block.settings.display_trustpilot %}
  {% assign image = block.settings.image %}
  {% assign focal_image = block.settings.focal_image %}
  {% assign pretext = block.settings.pretext %}
  {% assign heading_size = block.settings.heading_size %}
  {% assign title = block.settings.title %}
  {% assign subtitle_size = block.settings.subtitle_size %}
  {% assign subtitle = block.settings.subtitle %}
  {% assign caption_background = block.settings.caption_background %}
  {% assign caption_background_transparency = block.settings.caption_background_transparency %}
  {% assign text_position = block.settings.text_position %}
  {% assign text_align = block.settings.text_align %}
  {% assign button1 = block.settings.button1 %}
  {% assign button1_link = block.settings.button1_link %}
  {% assign button1_highlight = block.settings.button1_highlight %}
  {% assign button2 = block.settings.button2 %}
  {% assign button2_link = block.settings.button2_link %}
  {% assign button2_highlight = block.settings.button2_highlight %}
  {% assign phone_number = block.settings.phone_number %}
  {% assign email = block.settings.email %}
  {% assign subtitle_weight = block.settings.subtitle_weight %}
{% else %}
  {% assign collapse_type = section.settings.collapse_type %}
  {% assign id = section.id %}
  {% assign font_color = section.settings.font_color%}
  {% assign wide_content = section.settings.wide_content %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign display_trustpilot = section.settings.display_trustpilot %}
  {% assign image = section.settings.image %}
  {% assign focal_image = section.settings.focal_image %}
  {% assign pretext = section.settings.pretext %}
  {% assign heading_size = section.settings.heading_size %}
  {% assign title = section.settings.title %}
  {% assign subtitle_size = section.settings.subtitle_size %}
  {% assign subtitle = section.settings.subtitle %}
  {% assign caption_background = section.settings.caption_background %}
  {% assign caption_background_transparency = section.settings.caption_background_transparency %}
  {% assign text_position = section.settings.text_position %}
  {% assign text_align = section.settings.text_align %}
  {% assign button1 = section.settings.button1 %}
  {% assign button1_link = section.settings.button1_link %}
  {% assign button1_highlight = section.settings.button1_highlight %}
  {% assign button2 = section.settings.button2 %}
  {% assign button2_link = section.settings.button2_link %}
  {% assign button2_highlight = section.settings.button2_highlight %}
  {% assign phone_number = section.settings.phone_number %}
  {% assign email = section.settings.email %}
  {% assign subtitle_weight = section.settings.subtitle_weight %}
{% endif %}

{% if wide_display == false %}
<div class="container">
  <div class="sixteen columns">
{% endif %}

<div class="image-with-text-overlay-section">
    <section id="banner-{{id}}" class="banner full-width--{{ wide_display }} collapse--{{collapse_type}} ">
      {% if image != nil %}
        {% include 'image-element', image: image, alt: image.alt %}
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
      {% endif %}
      <!-- {% unless button1_link != blank and button2_link != blank %}
        {% if button1_link != blank %}
          <a href="{{ button1_link }}" class="banner-full-link">
            {{ button1 }}
          </a>
        {% endif %}
        {% if button2_link != blank %}
          <a href="{{ button2_link }}" class="banner-full-link">
            {{ button2 }}
          </a>
        {% endif %}
      {% endunless %} -->
      {% unless pretext == blank and title == blank and subtitle == blank and button1 == blank and button2 == blank %}
        <div class="position-{{ text_position }} caption js-caption">
          <div class="caption-content caption-background-{{ caption_background }} caption-transparency-{{ caption_background_transparency }} align-{{ text_align }} display-{{wide_content}} font-{{font_color}}">
            {% unless display_trustpilot %}
                {% if pretext != blank %}
                  <div class="pretext">
                    {{ pretext }}
                  </div>
                {% endif %}
                {% if title != blank %}
                    {% if heading_size == 'large' %}
                      <h1 class="headline">
                        {{ title }}
                      </h1>
                    {% else %}
                      <h2 class="headline">
                        {{title}}
                      </h2>
                    {% endif %}
                {% endif %}
                {% if subtitle != blank %}
                  <div class="subtitle subtitle-{{subtitle_size}} subtitle-{{subtitle_weight}}">
                    {{ subtitle }}
                  </div>
                {% endif %}
                {% if button1 != blank %}
                  <a {% if button1_link != blank %}href="{{ button1_link }}"{% endif %} class="action_button">
                    {{ button1 }}
                  </a>
                {% endif %}

            {% endunless %}
            {% unless phone_number == blank and email == blank %}
                    <div class="contact-list">
                    <div><p><i class="fas fa-phone"></i>{{ phone_number }}</div>
                    <div><p><i class="far fa-envelope"></i>{{ email }}</p></div>
                  </div>
            {% endunless %}

            {% if display_trustpilot %}

            {% if title != blank %}
             <h1 class="headline">
                        {{ title }}
              </h1>
            {% endif %}

          <!-- TrustBox widget - Micro Combo -->
          <div id="trustbox" class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="531dbb3a0000640005785c93" data-style-height="80px" data-style-width="185px" data-theme="light">
          </div>
          <!-- End TrustBox widget -->

            {% endif %}
          </div>
        </div>
      {% endunless %}

      {% unless focal_image ==blank %}
      <div class="focal-image-container">
        <div class="image-position image-positon-{{text_position}}">
          <img src="{{focal_image | img_url: 'x400'}}" >
        </div>
      </div>

      {% endunless %}
    </section>
</div>

{% if wide_display == false %}
  </div>
</div>
{% endif %}



