<div class="landing-custom-table">
  <div class="container">

    <div class="columns">
      <div class="tube-info">
        <div class="info">
          <h3 class="title">
            {{ block.settings.info_title }}
          </h3>
          <p>
            {{ block.settings.info_subtitle }}
          </p>
        </div>
        <div class="image-1">
          <img src="{{ block.settings.image | img_url:"600x" }}">
        </div>
        <div class="image-2">
          <img src="{{ block.settings.image2 | img_url:"600x" }}">
        </div>
      </div>
      <div class="table-wrapper">
        <table class="header-table">
          <tr>
            <th></th>
            <th>
              {% if block.settings.title != blank %}
              <h2 class="headline">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.subtitle != blank %}
              <small>{{ block.settings.subtitle }}</small>
              {% endif %}
            </th>
            <th>
              {% if block.settings.title1 != blank %}
              <h2 class="headline">{{ block.settings.title1 }}</h2>
              {% endif %}
              {% if block.settings.subtitle1 != blank %}
              <small>{{ block.settings.subtitle1 }}</small>
              {% endif %}
            </th>
          </tr>
        </table>
        <table class="main-table">

          {% if block.settings.heading1 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading1 != blank %}
              {{ block.settings.heading1 }}<br>
              {% endif %}
              {% if block.settings.heading_sub1 != blank %}
              <small>{{ block.settings.heading_sub1 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading1 != blank %}
              {{ block.settings.heading1 }}<br>
              {% endif %}
              {% if block.settings.heading_sub1 != blank %}
              <small>{{ block.settings.heading_sub1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_subtitle1_1 != blank %}
              {{ block.settings.c_subtitle1_1 }}
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_subtitle1_2 != blank %}
              {{ block.settings.c_subtitle1_2 }}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading2 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading2 != blank %}
              {{ block.settings.heading2 }}<br>
              {% endif %}
              {% if block.settings.heading_sub2 != blank %}
              <small>{{ block.settings.heading_sub2 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading2 != blank %}
              {{ block.settings.heading2 }}<br>
              {% endif %}
              {% if block.settings.heading_sub2 != blank %}
              <small>{{ block.settings.heading_sub2 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title2_1 != blank %}
              {{ block.settings.c_title2_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle2_1 != blank %}
              <small>{{ block.settings.c_subtitle2_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title2_2 != blank %}
              {{ block.settings.c_title2_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle2_2 != blank %}
              <small>{{ block.settings.c_subtitle2_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading3 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading3 != blank %}
              {{ block.settings.heading3 }}<br>
              {% endif %}
              {% if block.settings.heading_sub3 != blank %}
              <small>{{ block.settings.heading_sub3 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading3 != blank %}
              {{ block.settings.heading3 }}<br>
              {% endif %}
              {% if block.settings.heading_sub3 != blank %}
              <small>{{ block.settings.heading_sub3 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title3_1 != blank %}
              {{ block.settings.c_title3_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle3_1 != blank %}
              <small>{{ block.settings.c_subtitle3_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title3_2 != blank %}
              {{ block.settings.c_title3_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle3_2 != blank %}
              <small>{{ block.settings.c_subtitle3_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if block.settings.heading4 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading4 != blank %}
              {{ block.settings.heading4 }}<br>
              {% endif %}
              {% if block.settings.heading_sub4 != blank %}
              <small>{{ block.settings.heading_sub4 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading4 != blank %}
              {{ block.settings.heading4 }}<br>
              {% endif %}
              {% if block.settings.heading_sub4 != blank %}
              <small>{{ block.settings.heading_sub4 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title4_1 != blank %}
              {{ block.settings.c_title4_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle4_1 != blank %}
              <small>{{ block.settings.c_subtitle4_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title4_2 != blank %}
              {{ block.settings.c_title4_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle4_2 != blank %}
              <small>{{ block.settings.c_subtitle4_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading5 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading5 != blank %}
              {{ block.settings.heading5 }}<br>
              {% endif %}
              {% if block.settings.heading_sub5 != blank %}
              <small>{{ block.settings.heading_sub5 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading5 != blank %}
              {{ block.settings.heading5 }}<br>
              {% endif %}
              {% if block.settings.heading_sub5 != blank %}
              <small>{{ block.settings.heading_sub5 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title5_1 != blank %}
              {{ block.settings.c_title5_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle5_1 != blank %}
              <small>{{ block.settings.c_subtitle5_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title5_2 != blank %}
              {{ block.settings.c_title5_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle5_2 != blank %}
              <small>{{ block.settings.c_subtitle5_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading6 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading6 != blank %}
              {{ block.settings.heading6 }}<br>
              {% endif %}
              {% if block.settings.heading_sub6 != blank %}
              <small>{{ block.settings.heading_sub6 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading6 != blank %}
              {{ block.settings.heading6 }}<br>
              {% endif %}
              {% if block.settings.heading_sub6 != blank %}
              <small>{{ block.settings.heading_sub6 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title6_1 != blank %}
              {{ block.settings.c_title6_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle6_1 != blank %}
              <small>{{ block.settings.c_subtitle6_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title6_2 != blank %}
              {{ block.settings.c_title6_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle6_2 != blank %}
              <small>{{ block.settings.c_subtitle6_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading7 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading7 != blank %}
              {{ block.settings.heading7 }}<br>
              {% endif %}
              {% if block.settings.heading_sub7 != blank %}
              <small>{{ block.settings.heading_sub7 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading7 != blank %}
              {{ block.settings.heading7 }}<br>
              {% endif %}
              {% if block.settings.heading_sub7 != blank %}
              <small>{{ block.settings.heading_sub7 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title7_1 != blank %}
              {{ block.settings.c_title7_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle7_1 != blank %}
              <small>{{ block.settings.c_subtitle7_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title7_2 != blank %}
              {{ block.settings.c_title7_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle7_2 != blank %}
              <small>{{ block.settings.c_subtitle7_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if block.settings.heading8 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading8 != blank %}
              {{ block.settings.heading8 }}<br>
              {% endif %}
              {% if block.settings.heading_sub8 != blank %}
              <small>{{ block.settings.heading_sub8 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading8 != blank %}
              {{ block.settings.heading8 }}<br>
              {% endif %}
              {% if block.settings.heading_sub8 != blank %}
              <small>{{ block.settings.heading_sub8 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title8_1 != blank %}
              {{ block.settings.c_title8_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle8_1 != blank %}
              <small>{{ block.settings.c_subtitle8_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title8_2 != blank %}
              {{ block.settings.c_title8_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle8_2 != blank %}
              <small>{{ block.settings.c_subtitle8_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if block.settings.heading10 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading9 != blank %}
              {{ block.settings.heading9 }}<br>
              {% endif %}
              {% if block.settings.heading_sub9 != blank %}
              <small>{{ block.settings.heading_sub9 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading9 != blank %}
              {{ block.settings.heading9 }}<br>
              {% endif %}
              {% if block.settings.heading_sub9 != blank %}
              <small>{{ block.settings.heading_sub9 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title9_1 != blank %}
              {{ block.settings.c_title9_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle9_1 != blank %}
              <small>{{ block.settings.c_subtitle9_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title9_2 != blank %}
              {{ block.settings.c_title9_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle9_2 != blank %}
              <small>{{ block.settings.c_subtitle9_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}

          {% if block.settings.heading10 != blank %}
          <tr class="md-show">
            <td colspan="2">
              {% if block.settings.heading10 != blank %}
              {{ block.settings.heading10 }}<br>
              {% endif %}
              {% if block.settings.heading_sub10 != blank %}
              <small>{{ block.settings.heading_sub10 }}</small>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>
              {% if block.settings.heading10 != blank %}
              {{ block.settings.heading10 }}<br>
              {% endif %}
              {% if block.settings.heading_sub10 != blank %}
              <small>{{ block.settings.heading_sub10 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title10_1 != blank %}
              {{ block.settings.c_title10_1 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle10_1 != blank %}
              <small>{{ block.settings.c_subtitle10_1 }}</small>
              {% endif %}
            </td>
            <td>
              {% if block.settings.c_title10_2 != blank %}
              {{ block.settings.c_title10_2 }}<br>
              {% endif %}
              {% if block.settings.c_subtitle10_2 != blank %}
              <small>{{ block.settings.c_subtitle10_2 }}</small>
              {% endif %}
            </td>
          </tr>
          {% endif %}
        </table>
        <table class="footer-table">
          <tr class="last">
            <td></td>
            <td>
              <h2>{{ block.settings.title_row_1 }}</h2>
              <a href="{{ block.settings.title_row_link1 }}" class="action_button {% if block.settings.enable_modal %} open-modal {% endif %}">{{ block.settings.title_row_text1 }}</a>
            </td>
            <td>
              <h2>{{ block.settings.title_row_2 }}</h2>
              <a href="{{ block.settings.title_row_link2 }}" class="action_button {% if block.settings.enable_modal2 %} open-modal {% endif %}">{{ block.settings.title_row_text2 }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>