{% assign showColorSwatch = false %}
{%- for tag in product.tags -%}
{%- if tag contains "color:" -%}
{% assign showColorSwatch = true %}
{%- endif -%}
{%- endfor -%}
{% if showColorSwatch %}
<div class="color-swatch">
  <label class="swatch-heading">Color</label>
  <div class="color-swatch-title">
    <a href="{{ product.url | within: collection }}" data-handle="{{ product.handle }}" 
       data-color-name="{{ product.title | split:" - " | last | handle }}" class="active {{ product.title | split:" - " | last | handle }}" 
       {% if product.available == false %}data-product-availablability="product-sold-out"{%- endif -%}>
      {{ product.title | split:" - " | last }}
    </a>

    {%- capture productConcat -%}
    {%- for tag in product.tags -%}
    {%- if tag contains "color:" -%}
    {%- assign tagColor = tag | split:"color:" | last -%}
    {%- assign productSplit = product.title | split:" - " | first -%}
    {{ productSplit | append: "-" | append: tagColor | handle }}{% if forloop.last == false %},{% endif %}
    {%- endif -%}
    {%- endfor -%}
    {%- endcapture -%}
    {% assign productHandle = productConcat | split: "," %}
    {% for i in productHandle %}
    {% if i != blank %}
    {% assign handleWithoutSpace = i | strip %}
    {% assign productNew =  all_products[handleWithoutSpace] %}
    {% if productNew.handle != blank %}
    <a href="{{ productNew.url | within: collection }}"  data-handle="{{ productNew.handle }}" 
       data-color-name="{{ productNew.title | split:" - " | last | handle }}" class="{{ productNew.title | split:" - " | last | handle }}" 
       {% if productNew.available == false %}data-product-availablability="product-sold-out"{%- endif -%}>
      {{ productNew.title | split:" - " | last }}
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>

</div>
{% endif %}