{% comment %}
** Collections - default view **
- Collection template
- Uses blocks
{% endcomment %}

{% if section.settings.featured_collection_image %}
  <header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
      {% if collection.image %}
        {% assign image = collection.image %}
      {%- elsif section.settings.image -%}
        {% assign image = section.settings.image %}
      {%- else %}
        {% assign image = collection.products.first.featured_image %}
      {% endif %}

<div class="banner-color-ban">
      <div class="container banner-container">
        <div class="eight columns banner-content">
            <h1 class="headline">{{ collection.title }}</h1>
            {% comment %} <span class="description">{{ section.settings.banner_description }}</span> {% endcomment %}
            <span class="description">{{ collection.description }}</span>
            <br />
           <!-- TrustBox widget - Micro Combo -->
          <div id="trustbox" class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="531dbb3a0000640005785c93" data-style-height="80px" data-style-width="185px" data-theme="light">
          </div>
          <!-- End TrustBox widget -->

        </div>

        <div class="eight columns banner-image">
          {% if collection.metafields.global.video_link != blank %}
            <div data-remodal-target="video-modal" class="banner--video-link">
            <i class="fas fa-caret-right"></i>
            {{collection.metafields.global.video_link}}
            </div>
          {% endif %}
               <img  src="{{ collection.image | img_url: '1200x' }}"
                            alt="{{ img.alt | escape }}"
                            class="lazyload {{ settings.image_loading_style }}"
                             />
        </div>
      </div>
</div>

<div class="container banner-value-prop--container">

<div class="value-prop-row">
  <div class="value-prop">
    <div class="value-image-container">
      <img src="{{section.settings.block_one_icon | img_url: '45x'}}" alt="{{img.alt | escape}}" >
    </div>
    <h5>{{section.settings.block_one_title}}</h5>
  </div>
    <div class="value-prop">
    <div class="value-image-container">
      <img src="{{section.settings.block_two_icon | img_url: '45x'}}" alt="{{img.alt | escape}}" >
    </div>
    <h5>{{section.settings.block_two_title}}</h5>
  </div>
    <div class="value-prop">
    <div class="value-image-container">
      <img src="{{section.settings.block_three_icon | img_url: '45x'}}" alt="{{img.alt | escape}}" >
    </div>
    <h5>{{section.settings.block_three_title}}</h5>
  </div>
</div>

</div>

  </header>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>

<div id="shopify-section-collection-template-reload" class="container collection-container">
  {% paginate collection.products by section.settings.pagination_limit %}
    <div class="section clearfix" style="margin:0">
      <div class="eight columns section_select medium-down--one-whole">
        {% if collection.handle != blank and collection.products_count > 0 %}
          {% if section.settings.collection_tags %}
            {% for tag in collection.all_tags %}
              {% if forloop.first %}
                <select name="tag_filter" id="tag_filter" class="tag_filter" data-default-collection="{% if collection.handle == 'all' %}/collections/all{% else %}{{ collection.url }}{% endif %}">
                  <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
              {% endunless %}

              {% if forloop.last %}
                </select>
              {% endif %}
            {% endfor %}
          {% endif %}

         {% if section.settings.collection_sort %}
            <select class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% comment %}Check to see if sidebar should be enabled{% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

      {% include 'sidebar' %}
      <div class="thirteen columns medium-down--one-whole">




      {% if collection.products.size == 0 %}
          <div class="section clearfix collection-matrix">
          <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% else %}
        {% assign products_per_row = section.settings.products_per_row %}

        {% include 'product-loop', sidebar: sidebar %}

      {% endif %}

    {% if settings.pagination_type == 'basic_pagination' %}
      {% include 'pagination' with sidebar %}
    {% endif %}

    </div>
  {% endpaginate %}

</div>







%%TOPOVERLAY%%


<div class="trust-pilot-row">
  <div class="container-full-width">
    <div class="video-wrapper-column">
      <div class="videoWrapper">
        {% if section.settings.trustpilot_video != blank %}
        <video width="400" controls{% if section.settings.image != blank %} poster="{{ section.settings.image | img_url:"master" }}"{% endif %}>
          <source src="{{ section.settings.trustpilot_video }}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        {% endif %}
      </div>
    </div>
    <div class="trust-review">
      <div class="paper-tube-list-container">
        <!-- TrustBox widget - List -->
        <div id="trustbox" class="trustpilot-widget" data-locale="en-US" data-template-id="539ad60defb9600b94d7df2c" data-businessunit-id="531dbb3a0000640005785c93" data-style-height="500px" data-style-width="100%" data-theme="light" data-stars="4,5">
          <a href="https://www.trustpilot.com/review/www.papertube.co" target="_blank" rel="noopener">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
      </div>
    </div>
  </div>
  <style>
    {% if section.settings.image != blank %}
      .videoWrapper {
        background: #ccc url({{ section.settings.image | img_url:"master" }});
        background-size: 100%;
      }
    {% endif %}
  </style>
</div>


<div class="container-white">
  %%BOTTOMOVERLAY%%
</div>


<div class="remodal" data-remodal-id="video-modal">
  <a data-remodal-action="close" class="remodal-close"></a>
  <div class="remodal--wrapper">
    <div class="remodal--content">

    {{collection.metafields.global.video_embed}}
    </div>
  </div>
</div>



{% schema %}

{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "text",
      "id": "banner_headline",
      "label": "Headline"
    },
    {
      "type": "richtext",
      "id": "banner_description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "checkbox",
      "id": "featured_collection_image",
      "label": "Show top banner image",
      "info": "The collection's featured image will be used by default. Optionally upload a banner image as a fallback."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "text",
      "id": "video_title",
      "label": "Video Title"
    },
    {
      "type": "html",
      "id": "video_embed",
      "label": "Embed Video"
    },
    {
      "type": "image_picker",
      "id": "block_one_icon",
      "label": "Block One Icon"
    },
    {
      "type": "richtext",
      "id": "block_one_title",
      "label": "Block One Title"
    },
    {
      "type": "image_picker",
      "id": "block_two_icon",
      "label": "Block Two Icon"
    },
    {
      "type": "richtext",
      "id": "block_two_title",
      "label": "Block Two Title"
    },
    {
      "type": "image_picker",
      "id": "block_three_icon",
      "label": "Block Three Icon"
    },
    {
      "type": "richtext",
      "id": "block_three_title",
      "label": "Block Three Title"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "display_trustpilot",
      "label": "Display Reviews",
      "default": true
    },
    {
      "type":"textarea",
      "id": "trustpilot_video",
      "label": "Trustpilot mp4 video link",
      "info": "Upload video on [Files settings page](https://paper-tube-co.myshopify.com/admin/settings/files) and then paste the URL above.",
      "default": "https://cdn.shopify.com/s/files/1/0114/4619/0180/files/Ready-Made_Tubes_Delivered_Straight_To_Your_Door.mp4?v=1622655997"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter",
      "name": "Tag filter",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Filter tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters ([?](https://help.outofthesandbox.com/hc/en-us/articles/115008642047))"
        },
        {
          "type": "checkbox",
          "id": "enable_filter_swatches",
          "label": "Display color swatches"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}

