<div class="container quote-container">

  <div class="quote-description">
    <div class="quote-wrapper">

      {% if section.settings.preheading %}
      <h6 class="preheading">{{section.settings.preheading}}</h6>
      {% endif %}

      {% if section.settings.heading %}
      <h3 class="title">{{section.settings.heading}}</h3>
      {% endif %}

      {% if section.settings.description %}
      <div class="description">{{section.settings.description}}</div>
      {% endif %}

      {% if section.blocks.size > 0 %}
      <ul>
        {% for block in section.blocks %}

        <li><i class="far fa-check-circle"></i> {{block.settings.list-item}}</li>

        {% endfor %}
      </ul>
      {% endif %}

      {% if section.settings.image %}
      <div class="image--wrapper">
        <img src={{section.settings.image | img_url: '350x' }} >
        <span class="subtitle">{{ section.settings.subtitle }}</span>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="quote-form-wrapper">
    <div class="wufoo-wrapper">
      <iframe id="pardot-iframe" src="https://go.papertube.co/l/695353/2019-03-01/z5k" scrolling="no"  width="100%" type="text/html" frameborder="0" allowtransparency="true" style="border: 0"></iframe>
    </div>
    <script type="text/javascript">
    var iframe = document.getElementById('pardot-iframe');
    iframe.src = iframe.src + window.location.search;
    </script>
    
    {% comment %} 
    <div class="wufoo-wrapper" id="wufoo-mcionwy0guzgfk">
      Fill out my <a href="https://alexhuemortest.wufoo.com/forms/mcionwy0guzgfk">online form</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.</div>
    <script type="text/javascript">var mcionwy0guzgfk;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'alexhuemortest',
    'formHash':'mcionwy0guzgfk',
    'autoResize':true,
    'height':'943',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { mcionwy0guzgfk = new WufooForm();mcionwy0guzgfk.initialize(options);mcionwy0guzgfk.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

  </div> {% endcomment %}
</div>

{% schema %}
  {
    "name": "Quote-Form",
    "class": "quote-form-section",
    "max_blocks": 20,
    "settings": [
      {
          "type": "text",
          "id": "preheading",
          "label": "Pre-Heading"
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
      },
      {
          "type": "richtext",
          "id": "description",
          "label": "Description"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "text",
          "id": "subtitle",
          "label": "Sub-Title"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "List Item",
        "settings": [
                {
                    "type": "text",
                    "id": "list-item",
                    "label": "List Item"
                }
        ]
      }
    ],
     "presets": [
      {
        "name": "Quote Form",
        "category": "Form",
        "blocks": [
          {
            "type": "content"
          }
        ]
      }
    ]
  }
{% endschema %}
