<div class="two-column-images--container {% if section.settings.is_font_light != false %} light-font {% endif %}">
  {% for block in section.blocks %}
    {% assign font_color = block.settings.font_color%}
    {% assign wide_content = block.settings.wide_content %}
    {% assign id = block.id %}
    {% assign wide_display = block.settings.wide_display %}
  	{% assign image = block.settings.image %}
    {% assign title = block.settings.title %}
    {% assign subtitle_size = block.settings.subtitle_size %}
    {% assign subtitle = block.settings.subtitle %}
    {% assign caption_background = block.settings.caption_background %}
    {% assign caption_background_transparency = block.settings.caption_background_transparency %}
    {% assign text_position = block.settings.text_position %}
    {% assign text_align = block.settings.text_align %}
    {% assign button1 = block.settings.button1 %}
    {% assign button1_link = block.settings.button1_link %}
    {% assign button1_highlight = block.settings.button1_highlight %}
    {% assign button2 = block.settings.button2 %}
    {% assign button2_link = block.settings.button2_link %}
    {% assign button2_highlight = block.settings.button2_highlight %}
    {% assign phone_number = block.settings.phone_number %}
    {% assign email = block.settings.email %}
    {% assign subtitle_weight = block.settings.subtitle_weight %}
    {% if text_position == "bottom-center" %}
    <style>
      @media (min-width: 426px) {
        .logo-list-section {
          padding-top: 250px;
        }
        .two-column-images--container .two-column-images--column .caption-content {
          min-width: 400px !important;
        }
      }
      @media (max-width: 426px) {
        .two-column-images--container .two-column-images--column .caption-content {
          padding: 50px 0 !important;
        }
      }
    </style>
    {% endif %}
    {% if block.type == "left-image" %}
    <div class="two-column-images--column">
      <img src="{{block.settings.image | img_url: '960x', crop: 'center' }}">
      <div class="position-{{ text_position }} caption js-caption">
        <div class="caption-content caption-background-{{ caption_background }} caption-transparency-{{ caption_background_transparency }} align-{{ text_align }} display-{{wide_content}} font-{{font_color}}">
          {% unless display_trustpilot %}
          
          {% if title != blank %}
          {% if heading_size == 'large' %}
          <h1 class="headline">
            {{ title }}
          </h1>
          {% else %}
          <h2 class="headline">
            {{title}}
          </h2>
          {% endif %}
          {% endif %}
          
          {% if subtitle != blank %}
          <div class="subtitle subtitle-{{subtitle_size}} subtitle-{{subtitle_weight}}">
            {{ subtitle }}
          </div>
          {% endif %}
          
          {% if button1 != blank %}
          <a {% if button1_link != blank %}href="{{ button1_link }}"{% endif %} class="action_button">
            {{ button1 }}
          </a>
          {% endif %}

          {% endunless %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="two-column-images--column">
      <img src="{{block.settings.image | img_url: '960x', crop: 'center' }}">
      <div class="position-{{ text_position }} caption js-caption">
        <div class="caption-content caption-background-{{ caption_background }} caption-transparency-{{ caption_background_transparency }} align-{{ text_align }} display-{{wide_content}} font-{{font_color}}">
          {% unless display_trustpilot %}
          
          {% if title != blank %}
          {% if heading_size == 'large' %}
          <h1 class="headline">
            {{ title }}
          </h1>
          {% else %}
          <h2 class="headline">
            {{title}}
          </h2>
          {% endif %}
          {% endif %}
          
          {% if subtitle != blank %}
          <div class="subtitle subtitle-{{subtitle_size}} subtitle-{{subtitle_weight}}">
            {{ subtitle }}
          </div>
          {% endif %}
          
          {% if button1 != blank %}
          <a {% if button1_link != blank %}href="{{ button1_link }}"{% endif %} class="action_button">
            {{ button1 }}
          </a>
          {% endif %}

          {% endunless %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>



{% schema %}
  {
    "name": "Two Column Image Row",
    "class": "two-column-image-section",
	"max_blocks": 2,
    "settings": [

    ],
	"blocks": [
    {
      "type": "left-image",
      "name": "LEFT COLUMN",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "840 x 840px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "font_color",
          "label": "Font Color",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "grey",
              "label": "Grey"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "select",
          "id": "subtitle_size",
          "label": "Subtitle Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "subtitle_weight",
          "label": "Subtitle Weight",
          "options": [
            {
              "value": "normal",
              "label": "normal"
            },
            {
              "value": "bold",
              "label": "bold"
            }
          ]
        },
        {
          "type": "select",
          "id": "wide_content",
          "label": "Caption Width",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First button link"
        }
      ]
	},
	{
	  "type": "right-image",
      "name": "RIGHT COLUMN",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "840 x 840px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "font_color",
          "label": "Font Color",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "grey",
              "label": "Grey"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "select",
          "id": "subtitle_size",
          "label": "Subtitle Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "subtitle_weight",
          "label": "Subtitle Weight",
          "options": [
            {
              "value": "normal",
              "label": "normal"
            },
            {
              "value": "bold",
              "label": "bold"
            }
          ]
        },
        {
          "type": "select",
          "id": "wide_content",
          "label": "Caption Width",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First button link"
        }
      ]
    }
  ],
    "presets": [{
    "name": "Two Column Image Row",
    "category": "Content",
    "settings": {
    }
  }]
  }
{% endschema %}